<div class="form-div">
    <form>
        <div class="img">
            <img class="mb-4" src="https://img.icons8.com/ios/452/edit-user-male.png" alt="" width="120" height="120">
        </div>
        <h1 class="h3 mb-3 fw-normal">registration</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                [(ngModel)]="formData.email" name="name">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="text"
                [(ngModel)]="formData.password" name="password">
            <label for="floatingPassword">Passasdasword</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="register()">registration</button>
        <!-- <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="addPerson ()">registration</button> -->
    </form>
</div>