@import '../../scss/functions';
@import '../../scss/variables';

.container{
    width: 80%;
    margin: 0 auto;
    h1{
        
        font-family: $font_Roboto;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: pxtoem(26.250, 16);
        margin-bottom: 0;
    }
    .hotels{
        @media(max-width: 880px){
            justify-content: center;
        }
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .hotel{
            @media(max-width: 1090px){
                width: 45%;
                margin-left: 10px;
            }
            @media(max-width: 876px){
                width: 50%;
            }
            @media(max-width: 772px){
                width: 60%;
            }
            @media(max-width: 628px){
                width: 70%;
            }
            @media(max-width: 508px){
                width: 80%;
            }
            @media(max-width: 488px){
                width: 90%;
            }
            @media(max-width: 392px){
                width: 100%;
            }
            margin-top: pxtoem(30, 16);
            width: 30%;
            .single-hotel{
                width: 100%;
                .single-hotel-img{
                    width: 100%;
                    position: relative;
                    .single-hotel-img-hover{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 50%;
                        top: 50%;
                        text-align: center;
                        vertical-align: middle;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        transition: all 250ms;
                        a{  
                            position: relative;
                            text-decoration: none;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 50%;
                            padding: pxtoem(20, 16);;
                            color: rgba(255, 255, 255, 0.459);
                            transition: all 100ms;
                            text-transform: capitalize;
                            font-size: pxtoem(20, 16);
                            transition: all 250ms;
                            &:hover{
                                color:rgb(255, 255, 255);                            
                            }
                        }
                        &:hover{
                            cursor: pointer;
                            opacity: 1;
                            background-color: rgba(0, 0, 0, 0.452);
                        }
                    }
                    img{
                        width: 100%;
                        height: 180px;
                    }
                }
                .single-hotel-info{
                    position: relative;
                    h2,h3{
                        margin: 0;
                    }
                    h2{ 
                        font-family:  $font_Roboto;
                        font-size: pxtoem(20, 16);
                        font-weight: 500;
                        text-transform: uppercase;
                        a{
                            text-decoration: none;
                            color: inherit;
                            &:hover{
                                color: rgb(167, 38, 38);
                            }
                        }
                    }
                    h3{     
                        font-family: $font_montserrat;
                        font-size: pxtoem(15, 16);
                        text-transform: capitalize;
                        margin: 0;
                    }
                }
            }
        }
    }
}

