<div class="container">
    <h1>hotels</h1>
    <div class="hotels">
        <div class="hotel" *ngFor="let hotel of hotelData">
            <div class="single-hotel">
                <div class="single-hotel-img">
                    <img src="{{hotel.url}}" />

                    <div class="single-hotel-img-hover">
                        <a [routerLink]="'/admindelete/' + hotel.key">more</a>
                    </div>
                </div>
                <div class="single-hotel-info">
                    <h2><a [routerLink]="'/admindelete/' + hotel.key">{{hotel.name}} <i class="fa fa-star"></i>
                            <span>{{hotel.star}}</span> </a>
                    </h2>
                    <h3>{{hotel.sity}} </h3>
                </div>
            </div>
        </div>
    </div>
</div>